@use '../../styles/vars';

#main-navBar {

    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    position: relative;
    gap: 4rem;
    z-index: 9999;
    background-color:vars.$background-white;
    

    >ul {
        display: flex;
        gap: 4rem;

        li {
            list-style-type: none;
            cursor: pointer;

            >ul {
                display: flex;
                position: absolute;
                flex-direction: column;
            }
        }


    }



}